# CoastVision Example: Waikiki
<div style="display: flex; align-items: flex-start;">
    <div style="margin-right: 40px;">
        <p>CoastVision is an open-source Python framework geared towards generating satellite-derived shorelines (SDS) in <a href='https://developers.planet.com/docs/data/planetscope/'>PlanetScope</a> imagery. The image the right is two CoastVision SDS superimposed over drone imagery from the same week. This notebook provides an end-to-end example for Waikiki Beach Hawaiʻi.</p>
        <ol>
            <li>Download PlanetScope imagery for a given area of interest (AOI) and timeframe</li>
            <li>Image co-registration</li>
            <li>Shoreline extraction</li>
            <li>Tidal Correction</li>
            <li>QAQC</li>
        </ol>
    </div>
    <div>
        <img src="media\coastvision_shoreline_on_drone_hanaumapng.png" alt="SDS superimposed on high-resolution drone imagery" style="max-width: 100%; height: 100%;">
    </div>
</div>

# Import Libraries
If you have not yet set up enviromment in conda using `coastvision.yml`
```
cd path/to/CoastVision
conda env create -f coastvision.yml
conda activate coastvision
```

In [5]:
from planetscopeAPI import PlanetScopeOrdersAPI
from coastvision import coastvisionRun, setup, coastvisionCoreg
import pandas as pd
import os

# 1. Download PlanetScope Imagery
<a href='https://developers.planet.com/docs/data/planetscope/'>PlanetScope</a> is a satellite constellation opperated by <a href='https://www.planet.com/'>Planet Labs Inc.</a> The PlanetScope constellation is made up of roughtly 130 satellites, capable of imageing the entire land surface of Earth with daily revisit times and 3 meter spatial resolution. The imagery has four bands: red, green, blue, and near-infrared.

In the following cell, information regarding your site (beach or streatch of coastline) should be entered which will be used to download applicable satellite imagery from Planet
1. First enter (lat, long) coordinates (`coords`) creating an AOI (this can be any polygon) around a beach or coastline streatch you are interested in.
2. Next, create the `sitename` and `region` for the site
3. Enter a start and end date. Imagery from between and during these dates will be downloaded for the given API. Date format: `YYYY-MM-DD`
4. Downloading PlanetScope imagery requires an API key. If you do not have a Planet account, you can create one following these steps: <a href='https://www.planet.com/get-started/'>Get Started with Planet</a>

To access your API key log into <a href='https://www.planet.com/'>Planet</a> and navigaet to "My Settings" (see image below).

<img src="media\api_key_planet.JPG" alt="API key in settings" style="max-width:70%">

In [6]:
# create AOI coords (this can be a poly gone with any number of points)
coords = [
    [-157.8250490202958, 21.271453550602065], 
    [-157.8322743064407, 21.27395476693584], 
    [-157.83027987575724, 21.279016574653696], 
    [-157.8230543851239, 21.276515264363113], 
    [-157.8250490202958, 21.271453550602065]
    ]

region = 'hawaii'
sitename = 'waikiki'
setup.create_site_dict_json_for_API(
    site_name=sitename,
    region = region,
    aoi=coords,
    start_date="2024-03-01",
    end_date="2024-03-15")

setup.write_api_key_file(api_key='Your PlanetScope API Key', overwrite=False) # this creates a text file that contains your API key and is referenced by PlaneScopeOrdersAPI, with overwrite=False this will not overwrite an existing API key file

After

In [22]:
## downloading imagery takes some time as it's being requested and processed through Planet. For larger projects, leave for multiple hours or a day. 
## For testing purposes 60 days takes approximately 18 min

import importlib
importlib.reload(PlanetScopeOrdersAPI)
API = PlanetScopeOrdersAPI.PlanetScopeAPIOrder(selectSites=False, printPolling=True) # initalizing the class variable
API.get_all_data()

{'hawaii': {'waikiki': {'item_type': 'PSScene', 'geometry_filter': {'type': 'GeometryFilter', 'field_name': 'geometry', 'config': {'type': 'Polygon', 'coordinates': [[[-157.8250490202958, 21.271453550602065], [-157.8322743064407, 21.27395476693584], [-157.83027987575724, 21.279016574653696], [-157.8230543851239, 21.276515264363113], [-157.8250490202958, 21.271453550602065]]]}}, 'date_range_filter': {'type': 'DateRangeFilter', 'field_name': 'acquired', 'config': {'gte': '2024-03-01T00:00:00.000Z', 'lte': '2024-03-15T00:00:00.000Z'}}, 'cloud_cover_filter': {'type': 'RangeFilter', 'field_name': 'cloud_cover', 'config': {'lte': 0.3}}}}}
site name: waikiki
{'name': 'waikiki', 'products': [{'item_ids': ['20240309_202118_11_24bc', '20240308_210536_51_2461', '20240305_201946_45_24bc', '20240302_211609_83_24e8', '20240302_211617_76_24cb', '20240301_202430_65_2430'], 'item_type': 'PSScene', 'product_bundle': 'analytic_udm2'}], 'tools': [{'clip': {'aoi': {'type': 'Polygon', 'coordinates': [[[-157.8250490202958, 21.271453550602065], [-157.8322743064407, 21.27395476693584], [-157.83027987575724, 21.279016574653696], [-157.8230543851239, 21.276515264363113], [-157.8250490202958, 21.271453550602065]]]}}}, {'toar': {'scale_factor': 10000}}]}
https://api.planet.com/compute/ops/orders/v2/671887ed-9dd2-43ac-addc-222f425837cb
https://api.planet.com/compute/ops/orders/v2/671887ed-9dd2-43ac-addc-222f425837cb
status code: 200
waikiki: queued

# 2. Create Transects and Reference Shoreline
## 2.1 Transects
Coastal change is often measured through a series of shore normal transects. The intersection of SDS are computed and used to measure erosion and accreation along these transects. In this case the intersections are saved in a dataframe of the following structure:

<body>
    <table border="1">
        <tr>
            <th>Timestamp</th>
            <th>Transect Label 1</th>
            <th>Transect Label 2</th>
            <th>...</th>
            <th>Transect label n</th>
            <!-- Add more headers as needed -->
        </tr>
        <tr>
            <td>2019-03-03 20:43:11</td>
            <td>Distance along transect (m)</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <!-- Add more data cells as needed -->
        </tr>
        <!-- Add more rows as needed -->
    </table>
</body>

The distance along each transect is the distance between the start (landward end) of the transect and where the shoreline intersects it.

*Note:* if you are only interested in shoreline contours and not transect intersections provide `just_extract_shoreline=True` in the `coastvisionRun.CoastVisionRun()` class initialization in 'Initialize CoastVision "Run" Class' below

## 2.2 Reference Shoreline
For quality control, a reference shoreline can be hand digitized. Then given `max_dist_from_sl_ref = max distance in meters` supplied to `coastvision.CoastVisionRun()` all extracted shoreline segments out of this range are discarded. 
*Note:* This is recommended but not neccesary.


These should be saved in `user_inputs/<region>/<sitename>` as `<sitename>_transects.geojson` and `<sitename>_shoreline.geojson`. See <a href='https://github.com/Climate-Resilience-Collaborative/CoastVision/blob/1f50de7c3a477e864f28c5a5ab7c70a8e7016088/How_to_create_transect_and_sl_ref_files.md'>`How_to_create_transect_and_sl_ref_files.md`</a> for how to create these files.


<hr>

# 3. Initialize CoastVision "Run" Class

In [3]:
coastvision_run_class = coastvisionRun.CoastVisionRun(region=region, sitename=sitename, just_extract_shoreline=False, data_products=False)
print(f'There are {len(coastvision_run_class)} tiff images for site: {sitename}')

There are 12 tiff images for site: waikiki

# 4. Image Co-registration
<div style="display: flex; align-items: flex-start;">
    <div style="margin-right: 40px;">
        <p>Satellite images need to be accurately registered, meaning that they must align correctly with one another and with real-world coordinates. <a href="https://pypi.org/project/arosics/">AROSICS</a> an open-source Python package is used to co-register images to reduce error caused by image missalignments. In the image below the right pane shows reduced image offsets after AROSICS co-registration. </p>
    </div>
    <div>
        <img src="media/arosics_logo.png" alt="Tidal Effect Example" style="max-width: 100%; height: auto;">
    </div>
</div>

![Co-registration Example](media/co-registration.gif)

**co-registration is optional!** 
<p> It makes a small improvement at reef-lined beaches, but the processing takes a long time. For large projects, leave for hours/overnight. For test example, 37 tiffs takes ~ 20min. <p>

**Select a reference image** and copy the .tif file in into 'user_inputs/region/sitename' (without renaming it). Otherwise the function will select the first tiff file in our files as reference

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=RuntimeWarning) 
warnings.filterwarnings("ignore", category=UserWarning) 
warnings.filterwarnings("ignore", category=DeprecationWarning) 
coastvisionCoreg.coreg_site(region, sitename, grid_res=50, start=0)

# 5. Extract Shorelines and Compute Transect Intersections

The following function runs through the downloaded satellite imagery and does the following:

1. Segment image into land and water
2. Extract shoreline
3. Compute shoreline intersection with transects


<img src="media/stages_plot.jpg" alt="Stages Plot">


This function saves the `intersection_df` at the following path: `outputs/<region/<sitename>_transect_intersections.csv`

In [4]:
intersection_df = coastvision_run_class.run_shoreline_extraction()
display(intersection_df.head(2))
print(intersection_df.shape)

 waikiki 25.0 percent progress 20240107_201746_75_24c8c  contour outside reference
 waikiki 100.0 percent progress 20240102_201851_14_24cc{'20240112_201722_39_2447': {'0': array([nan]), '1': array([nan]), '2': array([nan]), '3': array([nan]), '4': array([13.44239039]), '5': array([15.03435919]), '6': array([18.77701249]), '7': array([22.70259818]), '8': array([24.80565139]), '9': array([25.8225795]), '10': array([36.82618106]), '11': array([47.41182885]), '12': array([38.83339133]), '13': array([38.86904126]), '14': array([45.33455431]), '15': array([43.37826921]), '16': array([38.20604576]), '17': array([33.18511941]), '18': array([31.41093175]), '19': array([25.70268289])}, '20240111_201955_73_24cc': {'0': array([27.17629931]), '1': array([41.4226464]), '2': array([36.92899059]), '3': array([30.65379929]), '4': array([25.24461138]), '5': array([25.7975745]), '6': array([26.16686805]), '7': array([26.78098824]), '8': array([27.01973028]), '9': array([26.96965487]), '10': array([33.8389694]), '11': array([43.20914172]), '12': array([36.3795481]), '13': array([36.94693344]), '14': array([44.25858301]), '15': array([41.74481427]), '16': array([34.90830986]), '17': array([28.50349342]), '18': array([28.20669285]), '19': array([22.99021576])}, '20240107_201746_75_24c8': None, '20240107_201744_53_24c8': {'0': array([28.78935504]), '1': array([37.62138498]), '2': array([32.0681798]), '3': array([26.72168088]), '4': array([24.83582295]), '5': array([25.82244421]), '6': array([25.59667845]), '7': array([25.59715694]), '8': array([25.42091939]), '9': array([25.73129683]), '10': array([32.95543151]), '11': array([44.34412016]), '12': array([36.51754853]), '13': array([37.81263567]), '14': array([46.0766795]), '15': array([47.23898665]), '16': array([41.17644978]), '17': array([35.5366868]), '18': array([34.60033528]), '19': array([27.36249597])}, '20240103_210109_20_2461': {'0': array([24.71060671]), '1': array([39.69240606]), '2': array([34.20636988]), '3': array([29.10242009]), '4': array([26.43152058]), '5': array([27.21117791]), '6': array([27.07676607]), '7': array([26.71880542]), '8': array([25.00527]), '9': array([24.06020157]), '10': array([31.25041294]), '11': array([39.68862117]), '12': array([30.29381401]), '13': array([33.40720426]), '14': array([42.68109235]), '15': array([41.90506866]), '16': array([34.57720086]), '17': array([28.4580209]), '18': array([28.68541788]), '19': array([22.72105473])}, '20240107_201512_69_2423': {'0': array([30.7139225]), '1': array([39.64231034]), '2': array([33.64116813]), '3': array([28.30071442]), '4': array([27.33411621]), '5': array([28.89484371]), '6': array([28.67826727]), '7': array([27.04323961]), '8': array([26.53432082]), '9': array([26.36171414]), '10': array([31.80337907]), '11': array([40.8882195]), '12': array([33.08095672]), '13': array([32.65885967]), '14': array([40.69241608]), '15': array([42.23829645]), '16': array([35.02546327]), '17': array([31.1804024]), '18': array([28.4400356]), '19': array([21.43755661])}, '20240115_201645_98_24b2': {'0': array([nan]), '1': array([nan]), '2': array([nan]), '3': array([nan]), '4': array([nan]), '5': array([nan]), '6': array([nan]), '7': array([nan]), '8': array([nan]), '9': array([nan]), '10': array([nan]), '11': array([nan]), '12': array([37.23613129]), '13': array([34.982441]), '14': array([39.91572012]), '15': array([37.82996975]), '16': array([32.04110651]), '17': array([26.01138118]), '18': array([25.00987163]), '19': array([18.47508692])}, '20240107_201510_71_2423': {'0': array([nan]), '1': array([nan]), '2': array([nan]), '3': array([nan]), '4': array([nan]), '5': array([nan]), '6': array([nan]), '7': array([nan]), '8': array([nan]), '9': array([nan]), '10': array([nan]), '11': array([nan]), '12': array([nan]), '13': array([nan]), '14': array([nan]), '15': array([nan]), '16': array([nan]), '17': array([nan]), '18': array([nan]), '19': array([nan])}, '20240115_210045_98_24a4': {'0': array([49.6011117]), '1': array([66.65162373]), '2': array([48.12869542]), '3': array([39.1045752]), '4': array([34.5523915]), '5': array([34.12903814]), '6': array([31.97200488]), '7': array([29.50237117]), '8': array([28.32145489]), '9': array([27.97994209]), '10': array([36.54206787]), '11': array([46.19643069]), '12': array([38.49462943]), '13': array([37.72017752]), '14': array([42.63735553]), '15': array([40.02433923]), '16': array([32.54744441]), '17': array([28.21879941]), '18': array([25.74412313]), '19': array([18.128333])}, '20240114_210354_08_248f': {'0': array([29.38274691]), '1': array([45.17892283]), '2': array([39.54822324]), '3': array([32.75028372]), '4': array([27.54936425]), '5': array([27.75446409]), '6': array([27.64853383]), '7': array([28.14244687]), '8': array([29.11244923]), '9': array([29.50101926]), '10': array([37.58195348]), '11': array([47.68129957]), '12': array([39.65224889]), '13': array([40.74806962]), '14': array([46.93164615]), '15': array([44.25044761]), '16': array([37.75854031]), '17': array([31.96924039]), '18': array([34.52570289]), '19': array([29.01816012])}, '20240114_210519_66_249a': {'0': array([25.62904363]), '1': array([41.90634938]), '2': array([37.44249831]), '3': array([28.94111063]), '4': array([24.22200203]), '5': array([23.47621275]), '6': array([22.95122393]), '7': array([23.2872779]), '8': array([25.72854078]), '9': array([27.34917805]), '10': array([35.29404804]), '11': array([44.50754246]), '12': array([35.35517436]), '13': array([34.66984051]), '14': array([37.81086724]), '15': array([35.19042331]), '16': array([28.87447676]), '17': array([25.25719641]), '18': array([22.80134995]), '19': array([17.66196099])}, '20240102_201851_14_24cc': {'0': array([29.85451306]), '1': array([38.02388808]), '2': array([32.34594223]), '3': array([27.48846437]), '4': array([26.25195187]), '5': array([28.51644415]), '6': array([29.3123693]), '7': array([26.62728673]), '8': array([23.74951833]), '9': array([24.39628047]), '10': array([57.48338436]), '11': array([75.38432695]), '12': array([66.60777444]), '13': array([86.78294576]), '14': array([nan]), '15': array([nan]), '16': array([nan]), '17': array([nan]), '18': array([nan]), '19': array([nan])}}

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
2024-01-02 20:18:51.140,29.854513,38.023888,32.345942,27.488464,26.251952,28.516444,29.312369,26.627287,23.749518,24.396280,57.483384,75.384327,66.607774,86.782946,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-03 21:01:09.200,24.710607,39.692406,34.206370,29.102420,26.431521,27.211178,27.076766,26.718805,25.005270,24.060202,31.250413,39.688621,30.293814,33.407204,42.681092,41.905069,34.577201,28.458021,28.685418,22.721055

(10, 20)

# 6. Tidal Corrections

## 6.1 Tidal Effects on Horizontal Shoreline Position
<div style="display: flex; align-items: flex-start;">
    <div style="margin-right: 20px;">
        <p>CoastVision shoreline accuracy can be improved by correcting for horizontal shifts in shoreline position due to tidal changes. The example to the right from Cadíz, Spain shows how large horizontal changes from tidal shifts can be. Using tide level data, corrections can be made to where the shoreline position would be given mean sea level removing noise added by tidal fluctuations. <p>The refernece elevation is selected by the user and relative to Local Mean Sea Level. In most cases 0 m is a good start. This will be the elevation all shorelines are corrected back to. For example, if the tide height is 0.3 m above LMSL, assuming a linear beach slope, the shoreline will be pushed seaward back to LMSL</p>
    </div>
    <div>
        <img src="media/tide_horizontal_shift_example.gif" alt="Tidal Effect Example" style="max-width: 100%; height: auto;">
    </div>
</div>


<img src="media\tidal_horizontal_effect_figure.png" alt="Tidal Effect Figure">




#### **Complete only one of the tidal corrections below** (if you do both, it will save the most recent tidal correction)
The tidal corrected dataframe is saved as here: `outputs/<region/<sitename>_intersections_tidally_corrected_<reference_elevation>m.csv`


## 6.2 Tidal Corrections via Global Tide Model
The Finite Element Solution (FES)2014 numerical model can be used to calculate ocean tides for any time for any coastal region. These ocean tide height predictions can be used along with a beach slope estimate to compute the horizontal shoreline position correction. The model is quite larges (~8GB) but can be set up on your local computer by downloading it via AVISO. K. Vos and [CoastSat.slope](https://github.com/kvos/CoastSat.slope) provides very helpful documentation for setting up FES2014. See [documentation](https://github.com/kvos/CoastSat.slope/blob/master/doc/FES2014_installation.md) on how to download and use this. 
<p> If you have FES2014 set up and downloaded, use the code below. Identify a coordinate ~1-2 miles offshores using for example google maps and input it in "offshore_coord". This will be the approximate location of your FES2014 model grid the tides are calculated in (avoid points close to shore as the model can be sporadic in nearshore environments). 

##### **if you dont have the global tide model setup, use local tide gauge data or skip section 6**

In [5]:
fes2014_path = os.path.join(os.getcwd(), 'aviso-fes-main', 'data', 'fes2014')
offshore_coord = [-157.8497, 21.2569]

tidal_corrected_df = coastvision_run_class.tidal_correction_FES2014(fes2014_path, offshore_coord, reference_elevation=0, beach_slope=0.12)
display(tidal_corrected_df.head(2))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
dates,,,,,,,,,,,,,,,,,,,,
2024-01-02 20:18:51.140,30.522349,38.691724,33.013779,28.156301,26.919788,29.184281,29.980206,27.295123,24.417355,25.064117,58.151221,76.052163,67.275611,87.450782,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-03 21:01:09.200,24.985083,39.966882,34.480846,29.376896,26.705997,27.485654,27.351242,26.993282,25.279746,24.334678,31.524889,39.963097,30.568290,33.681680,42.955568,42.179545,34.851677,28.732497,28.959894,22.995531

## 6.3 Tidal Corrections via Local Tide Gauge Data
If local tide gauge data is avaible this can be used rather than FES predictions. point to a path with your tidegauge data. View the exmample tidegauge data for Honolulu for formatting

In [6]:
# load tide gauge csv
tidegauge = pd.read_csv(os.path.join(os.getcwd(), 'user_inputs', region, sitename, 'honolulutidegauge.csv'), index_col=0, parse_dates = True)
tidegauge.index.name = 'dates'

# do tidal correction 
tidal_corrected_df = coastvision_run_class.tidal_correction_tidegauge(tidegauge, reference_elevation=0, beach_slope=0.12)
display(tidal_corrected_df.head(2))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
dates,,,,,,,,,,,,,,,,,,,,
2024-01-02 20:18:51.140,30.959318,39.128693,33.450748,28.593270,27.356757,29.621249,30.417175,27.732092,24.854324,25.501086,58.588190,76.489132,67.71258,87.887751,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-03 21:01:09.200,25.798753,40.780552,35.294516,30.190566,27.519667,28.299324,28.164912,27.806952,26.093416,25.148348,32.338559,40.776767,31.38196,34.495351,43.769239,42.993215,35.665347,29.546167,29.773564,23.809201

# 7. QAQC
There are many sources of error in satellite-derived shorelines, from faulty image classification or image mis-alignment to uncertinaty related to tides and wave swash. While the wealth of data (PlanetScope has near-daily revisit time) enables us to deduce clear shoreline change signals despite much of this noise, it is still important to remove outliers. Below median filtering is used to remove outliers that are not within the `limit` (in meters) of the median (`median - limit < x < median + limit`). This filtered transect intersection dataframe is saved `outputs/<region/<sitename>_QAQC_transect_interesections.csv`.

In [7]:
QAQC_df = coastvision_run_class.intersection_QAQC(limit=30)
display(QAQC_df.head(2))

before QAQC: shape (10, 20) number of nans 20
after QAQC: shape (10, 20) number of nans 22

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
dates,,,,,,,,,,,,,,,,,,,,
2024-01-02 20:18:51.140,29.854513,38.023888,32.345942,27.488464,26.251952,28.516444,29.312369,26.627287,23.749518,24.396280,57.483384,NaN,66.607774,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-03 21:01:09.200,24.710607,39.692406,34.206370,29.102420,26.431521,27.211178,27.076766,26.718805,25.005270,24.060202,31.250413,39.688621,30.293814,33.407204,42.681092,41.905069,34.577201,28.458021,28.685418,22.721055